.pkm-type {
    padding: 3px;
    color: white;
}
.pkm-type-0 {
    background: #298A08;
}

.pkm-type-1 {
    background: #FF0000;
}

.pkm-type-2 {
    background: #F5A9F2;
}

.pkm-type-3 {
    background: #FA8258;
}

.pkm-type-4 {
    background: #8181F7;
}

.pkm-type-5 {
    background: #DBA901;
}

.pkm-type-6 {
    background: #F6CEF5;
}

.pkm-type-7 {
    background: #FA58F4;
}

.pkm-type-8 {
    background: #FA58F4;
}

.pkm-type-9 {
    background: #BDBDBD;
}
.pkm-type-10 {
    background: #610B4B;
}
.pkm-type-11 {
    background: #045FB4;
}
.pkm-type-12 {
    background: #58FAF4;
}
.pkm-type-13 {
    background: #01DF74;
}
.pkm-type-14 {
    background: #58D3F7;
}
.pkm-type-15 {
    background: #BCA9F5;
}
.pkm-type-16 {
    background: #8A4B08;
}
.pkm-type-17 {
    background: #2E9AFE;
}
